@{
    ViewData["Title"] = "Test";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<markdown>
   ![San Diego Skyline](https://upload.wikimedia.org/wikipedia/commons/8/8f/Wide_San_Diego_Night.jpg) 
</markdown>


<p>Hi</p>

<h6>abc</h6>

<h1>abc</h1>

<markdown>This is some _simple_ **markdown**.</markdown>


<markdown>Dies ist ein normaler Absatz

    Dies ist ein Codeblock</markdown>


<markdown>---</markdown>

<markdown>
> Zitat von Klaus: Hallo Welt  
</markdown>


<markdown>
Hier sind einige Beispielsuchmaschinen: [Google][1], [Yahoo][2] oder [Bing][3]

[1]: http://google.com/    
[2]: http://search.yahoo.com/
[3]: https://www.bing.com/

</markdown>


<markdown>


[Telekom-Klaus](https://telekom.de)




</markdown>

<markdown>
1. a 
1. b 
1. c 
1. d 
1. e  
</markdown>

<markdown>![Alternativer Text](http://www.dnrcustoms.com/uploads/3/1/2/1/31214493/s874906050552617097_p10_i1_w480.jpeg
"Beispielbild 1")
</markdown>

<markdown>
![Hallo][id]

[id]: https://regiowiki.pnp.de/images/6/6c/Beispielbild.jpg  "Beispielbild 2"


</markdown>




